{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        {% for item in object_list %}
        <tr>

            <td>
                {% if item.status == 0 %}
                    <img src="{% static "images/green.png" %}" alt="green">
                {% elif item.status == 1 %}
                    <img src="{% static "images/yellow.png" %}" alt="yellow">
                {% elif item.status == 2 %}
                    <img src="{% static "images/red.png" %}" alt="red">
                {% endif %}
            </td>
            <td>{{ item.name }}</td>
            <td>
                <form>
                    {{ item.id }}
                </form>

            </td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>