{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5; URL=http://localhost:8000">
    <title>Title</title>
    <link rel="stylesheet" href="{%  static "/css/bootstrap.min.css" %}" crossorigin="anonymous">
    <script>

        function sendContactForm(){
        }

        $('#item_update').submit(function () {
         sendContactForm();
         return false;
        });
    </script>
</head>
<body>
    <table>
        {% for item in object_list %}
        <tr>

            <td>
                {% if item.status == 0 %}
                    <img src="{% static "images/green.png" %}" alt="green">
                {% elif item.status == 1 %}
                    <img src="{% static "images/yellow.png" %}" alt="yellow">
                {% elif item.status == 2 %}
                    <img src="{% static "images/red.png" %}" alt="red">
                {% endif %}
            </td>
            <td>{{ item.name }}</td>
            <td>
                <form id="item_update">

                    <button type="button" class="btn btn-success">Success</button>

                </form>

            </td>
            <td>
                <form id="item_update">
                    <button type="button" class="btn btn-warning">Warning</button>
                    {{ item.id }}
                </form>

            </td>
            <td>
                <form id="item_update">
                    <button type="button" class="btn btn-danger">Danger</button>
                    {{ item.id }}
                </form>

            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>