{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5; URL=http://localhost:8000">
    <title>Title</title>
    <link rel="script" href="{%  static "/js/jquery-3.4.0.min.js" %}">
    <link rel="stylesheet" href="{%  static "/css/bootstrap.min.css" %}" crossorigin="anonymous">
    <script>

        $('#item_update').submit(function (data) {
          console.log("submitted")
          $.ajax({
              type: "POST",
              url: "http://localhost:8000/item/",
              data: data
            });
         return false;
        });
    </script>
</head>
<body>
    <img src="{% static "images/logo.png" %}" alt="logo" height="100" />
    <table>
        {% for item in object_list %}
        <tr>

            <td>
                {% if item.status == 0 %}
                    <img src="{% static "images/green.png" %}" alt="green">
                {% elif item.status == 1 %}
                    <img src="{% static "images/yellow.png" %}" alt="yellow">
                {% elif item.status == 2 %}
                    <img src="{% static "images/red.png" %}" alt="red">
                {% endif %}
            </td>
            <td>{{ item.name }}</td>
            <td>
                <form id="item_update">
                    <input type="hidden" value="{{ item.id }}" name="item"/>
                    <input type="hidden" value="0" name="status"/>
                    <button type="button" class="btn btn-success">Success</button>

                </form>

            </td>
            <td>
                <form id="item_update">
                    <input type="hidden" value="{{ item.id }}" name="item"/>
                    <input type="hidden" value="1" name="status"/>
                    <button type="button" class="btn btn-warning">Warning</button>
                </form>

            </td>
            <td>
                <form id="item_update">
                    <input type="hidden" value="{{ item.id }}" name="item"/>
                    <input type="hidden" value="2" name="status"/>
                    <button type="button" class="btn btn-danger">Danger</button>
                </form>

            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>